@import "tailwindcss";

body{
  font-family: "Roboto", sans-serif;
  padding: 0%;
  margin: 0%;
  color: white;
  
}

*{
  transition: all 0.3s ease-in-out;
}

.box {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to left,#000000,#484848);
  /* background:linear-gradient(to left,#4040a4,#2b2687); */
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%); */

}

